.pageWrapper {
  position: relative;
}

.navBar {
  height: 7.21vh;
  margin-bottom: 3.52vh;
}

.transactionsSummary,
.transactionsTable,
.diagramBlock {
  margin: 0 auto;
}

.diagrammAndTransactionsTable {
  display: flex;
  flex-direction: column;
}

.diagramBlock {
  position: relative;
  width: 280px;
}

.diagramm {
  width: 100%;
  height: 315px;
  margin-bottom: 40px;
}

.transactionsTable {
  margin: 0 auto;
  width: 100%;
}

.transactionsSummary {
  width: 100%;
  border-top: 2px solid var(--placeholder-input-color);
}

.currencyWidget {
  display: none;
  background-color: #3a5374;
}

.titleBlock {
  display: none;
  background-color: var(--green-bg-color);
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 5px 5px 0 0;
}

.balanceBar {
  display: none;
  background-color: #3a5374;
}

@media screen and (min-width: 768px) {
  .diagramBlock,
  .transactionsTable,
  .titleBlock {
    width: 704px;
  }

  .navBar {
    height: 9.41vh;
    margin-bottom: 0;
  }

  .diagramm {
    height: 500px;
  }

  .titleBlock {
    display: block;
    position: relative;
    top: 0;
    box-shadow: 7px 0px 29px -13px rgba(0, 0, 0, 0.75);
  }

  .diagramBlock {
    border-radius: 5px;
    box-shadow: 7px 10px 18px -4px rgba(0, 0, 0, 0.75);
    margin-bottom: 36px;
    padding-top: 20px;
  }

  .transactionsSummary {
    height: 8.97vh;
    width: 702px;
  }
}

@media screen and (min-width: 1024px) {
  .pageWrapper {
    background: none;
    margin: 0 auto;
    min-width: 1024px;
    width: 85%;
    padding: 0 5px;
    padding-top: 4.6vh;
    padding-bottom: 5.1vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 30px;
  }

  .transactionsSummary {
    width: 100%;
  }

  .navBar {
    width: 100%;
  }

  .transactionsTable,
  .diagramBlock {
    width: 100%;
    margin: 0;
  }

  .transactionsTable {
    padding-top: 9.47vh;
    max-width: 475px;
  }

  .diagramBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-shadow: none;
    max-width: 587px;
  }

  .navBar {
    width: 100%;
    margin-bottom: 0;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: stretch;
    height: auto;
  }

  .balanceBar {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    justify-self: stretch;
    grid-area: 2 / 1 / 3 / 2;
  }

  .currencyWidget {
    display: block;
    position: relative;
    grid-area: 3 / 1 / 6 / 2;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-self: stretch;
    height: auto;
  }

  .titleBlock {
    width: 100%;
    position: absolute;
  }

  .diagrammAndTransactionsTable {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    justify-self: stretch;
    grid-area: 1 / 2 / 6 / 5;
    padding-top: 75px;
    padding-right: 24px;
    padding-left: 24px;
    box-shadow: 0px 16px 16px -5px rgba(0, 0, 0, 0.75);
  }
}
