.pageWrapper {
  position: relative;
  height: 100%;
}

.diagramm,
.datePicker,
.transactionsTable,
.transactionsSummary {
  margin: 0 auto;
  width: 280px;
}

.diagramm {
  height: 51.05vh;
  background-color: #3a5374;
}

.datePicker {
  height: 11.97vh;
  /* delete all below this line */
  background-color: #a8a8a8;
  padding: 3vh 0;
  text-align: center;
}

.transactionsTable {
  height: 76.23vh;
  background-color: #3a5374;
}

.transactionsSummary:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #777777;
}

.transactionsSummary {
  height: 16.02vh;
  background-color: #a8a8a8;
}

@media screen and (min-width: 768px) {
  .diagramm,
  .transactionsTable {
    width: 704px;
  }

  .diagramm {
    height: 53.68vh;
  }

  .transactionsTable {
    height: 0;
    min-height: 17.6vh;
  }

  .transactionsSummary {
    height: 8.97vh;
    width: 702px;
  }
}

@media screen and (min-width: 1024px) {
  .pageWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 30px;
  }

  .div1 {
    grid-area: 1 / 1 / 3 / 2;
  }
  .div2 {
    grid-area: 3 / 1 / 5 / 2;
  }
  .div3 {
    grid-area: 5 / 1 / 8 / 2;
  }
  .div4 {
    grid-area: 1 / 2 / 8 / 3;
  }
}
