.pageWrapper {
  position: relative;
  height: 100%;
}

.navBar {
  height: 7.21vh;
  margin-bottom: 3.52vh;
}

.diagramm,
.datePicker,
.transactionsTable,
.transactionsSummary {
  margin: 0 auto;
  width: 280px;
}

.diagrammAndTransactionsTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90.7vh;
}

.diagramm {
  /* background-color: #305174; */
  /* height: 45vh; */
  height: 380px;
}

.transactionsTable {
  background-color: #3a5374;
  height: 45vh;
}

.transactionsSummary:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #777777;
}

.transactionsSummary {
  height: 8.8vh;
  background-color: #a8a8a8;
}

.currencyWidget {
  display: none;
  background-color: #3a5374;
}

.balanceBar {
  display: none;
  background-color: #3a5374;
}

@media screen and (min-width: 768px) {
  .diagramm,
  .transactionsTable {
    width: 704px;
  }

  .navBar {
    height: 9.41vh;
    margin-bottom: 0;
  }

  .transactionsSummary {
    height: 8.97vh;
    width: 702px;
  }
}

@media screen and (min-width: 1024px) {
  .pageWrapper {
    background: none;
    margin: 0 auto;
    width: 1024px;
    padding: 0 5px;
    padding-top: 4.6vh;
    padding-bottom: 5.1vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 30px;
  }

  .transactionsSummary {
    display: none;
  }

  .navBar {
    width: 100%;
  }

  .transactionsTable,
  .diagramm {
    width: 100%;
  }

  .navBar {
    width: 100%;
    margin-bottom: 0;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: stretch;
    height: auto;
  }

  .balanceBar {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    justify-self: stretch;
    grid-area: 2 / 1 / 3 / 2;
  }

  .currencyWidget {
    display: block;
    position: relative;
    grid-area: 3 / 1 / 6 / 2;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-self: stretch;
    height: auto;
  }

  .diagrammAndTransactionsTable {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-self: stretch;
    grid-area: 1 / 2 / 6 / 5;
  }
}
