.button {
  text-decoration: none;
  user-select: none;
  border: 0;
  border-radius: 3px;
  padding: 8px 40px;
  outline: none; /* убирать контур в Mozilla */
  background-color: var(--good-font-color);
  color: var(--white-bg-color);
  opacity: 1;
}

.wrapper {
  margin: 10px;
}

.button:hover,
.button:focus {
  background-image: var(--gradient-color);
}

.button_disabled {
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  padding: 8px 40px;
  color: #fff;
  background-color: #cccaca;
}

.button_logout_link {
  background-color: var(--white-bg-color);
  color: #6b7d83;
  margin: 10px;
  /* убрать при интеграии margin */
  width: 80px;
  padding-left: 25px;
  font-size: 15px;
  border: none;
  text-decoration: none;
  outline: none;
  user-select: none;
  background-repeat: no-repeat;
  background-image: url(../../public/icons/exit.svg);
  background-position: 5px 2px;
}

.button_logout_link:hover,
.button_logout_link:focus {
  color: #56b2d1;
}
