.button {
  text-decoration: none;
  user-select: none;
  border: 0;
  border-radius: 3px;
  padding: 8px 40px;
  outline: none; /* убирать контур в Mozilla */
  background-color: var(--green-bg-color);
  color: #fff;
  opacity: 1;
  width: 100%;
}

.wrapper {
  width: 100%;
}

.button:hover,
.button:focus {
  background-image: var(--gradient-color);
}

.button_disabled {
  width: 100%;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  padding: 8px 40px;
  color: #fff;
  background-color: #cccaca;
}

.button_logout {
  padding: 1px 14px;
  border: none;
  text-decoration: none;
  outline: none;
  user-select: none;
  background-repeat: no-repeat;
  background-image: url(../../public/icons/exit.svg);
}
