.button {
  cursor: pointer;
  user-select: none;
  border: 0;
  border-radius: 3px;
  padding: 14px 0;
  outline: none; /* убирать контур в Mozilla */
  background-color: #5a895a;
  color: #fff;
  opacity: 1;
  width: 100%;
  font-weight: 700;
}

.wrapper {
  width: 100%;
}

.button:hover,
.button:focus {
  background-image: var(--gradient-color);
}

.button_disabled {
  width: 100%;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  padding: 14px 0;
  color: #fff;
  background-color: #cccaca;
}

/* button Logout */

.button_logout_item {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 90px;
  font-size: 15px;
  border: none;
  outline: none;
  user-select: none;
  color: #6b7d83;
  background-color: #fff;
}

.button_svg {
  fill: #669668;
}

@media (min-width: 768px) {
  .wrapper {
    box-shadow: 3px 3px 5px 0px rgba(61, 61, 61, 0.75);
  }
}

@media (max-width: 767px) {
  .button_logout_item {
    display: flex;
    align-items: center;
    width: 40px;
    font-size: 15px;
  }
}
