.button {
  cursor: pointer;
  user-select: none;
  border: 0;
  border-radius: 3px;
  padding: 8px 40px;
  outline: none;
  background-color: var(--good-font-color);
  color: var(--white-bg-color);
  opacity: 1;
}

.wrapper {
  margin: 10px;
  width: 100%;
}

.button:hover,
.button:focus {
  background-image: var(--gradient-color);
}

.button_disabled {
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  padding: 8px 40px;
  color: #fff;
  background-color: #cccaca;
}

/* button Logout */

.button_logout_item {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 90px;
  font-size: 15px;
  border: none;
  outline: none;
  user-select: none;
  color: #6b7d83;
  background-color: #fff;
}

.button_svg {
  fill: #669668;
}

@media (max-width: 767px) {
  .button_logout_item {
    display: flex;
    align-items: center;
    width: 40px;
    font-size: 15px;
  }
}
