.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.form div:not(:first-of-type) {
  margin-bottom: 12px;
}

.form button {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .form {
    width: 70%;
    box-shadow: 10px 17.321px 40px 0px rgba(107, 125, 131, 0.3);
    border-radius: 4px;
    padding: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .form {
    width: 58%;
    box-shadow: 10px 17.321px 40px 0px rgba(107, 125, 131, 0.3);
    border-radius: 4px;
    padding: 50px;
  }
} ;
