.rut {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 40px;
}

.select {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .rut {
    width: 100%;
  }

  .select {
    width: 100%;
  }
}
