.balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 500;
}

.text_balance {
  font-size: 15px;
  color: #fff;
  margin-bottom: 7px;
}

.sum_balance {
  font-size: 15px;
  color: #fff;
}

@media (min-width: 1024px) {
  .balance {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .text_balance {
    margin-bottom: 0;
  }
}
