.wrapper {
  box-shadow: 1.5px 2.598px 3px 0px rgba(1, 1, 0, 0.12);
  background-color: var(--main-mobile-bg-color);
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; */
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 95%;
  margin: 0 auto;
}
.profileNameBlock {
  display: flex;
  color: var(--main-green-font);
}
.profileName {
  padding-right: 10px;
  border-right: none;
}
.button {
  padding-left: 10px;
}

@media (min-width: 768px) {
  .wrapper {
    background-color: var(--grey-bg-color);
  }
  .header {
    width: 86%;
    height: 80px;
  }
  .profileNameBlock {
    color: var(--third-font-color);
  }
  .profileName {
    padding-right: 20px;
    border-right: 1px solid var(--third-font-color);
  }
  .button {
    padding-left: 20px;
  }
} ;
