.loginPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../public/image/bg.png) bottom no-repeat;
  background-size: contain;
  width: 100vw;
}
.subtitle {
  padding: 4vh;
  font-size: 18px;
  line-height: 45px;
}
@media screen and (min-width: 768px) {
  .loginPage {
    padding-top: 28vh;
    flex-direction: column;
    justify-content: space-between;
    background: url(../../public/image/bgTurnOut.png) left bottom no-repeat,
      url(../../public/image/bg.png) right bottom no-repeat;
    background-size: 90%, 50%;
    background-repeat: no-repeat, no-repeat;
  }
}

@media screen and (min-width: 1024px) {
  .loginPageWrapper {
    display: flex;
    justify-content: space-between;
  }
  .loginLeftSide {
    width: 50%;
    background-image: url(../../public/image/mock-up.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .loginPage {
    width: 50%;
  }
}
