.active_link {
  background-color: var(--active-link-bg-color);
  border-radius: 5px;
}

.nav_item {
  background-color: var(--main-mobile-bg-color);
  display: flex;
  justify-content: center;
  align-content: center;
}

.link {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 30px;
}

.children_svg {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fff;
}

.children_text {
  display: none;
  color: var(--third-font-color);
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .nav_item:not(:last-child) {
    margin-right: 12px;
  }
  .nav_item {
    border-radius: 5px;
  }
  .link {
    width: 30px;
    height: 25px;
  }
}

@media (min-width: 768px) {
  .nav_item {
    background-color: #ffffff;
    justify-content: space-between;
    width: 100%;
    height: 15px;
    margin: 0;
  }

  .link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 15px;
    background-color: #fff;
  }

  .children_svg svg {
    width: 16px;
    height: 16px;
    margin-right: 12px;
    margin-bottom: 3px;
    fill: var(--third-font-color);
  }

  .children_text {
    display: block;
  }

  .active_link svg {
    fill: var(--active-link-bg-color);
    border-radius: 1px;
  }

  .active_link .children_text {
    font-weight: 700;
    color: var(--active-link-bg-color);
  }
}

@media (min-width: 1024px) {
  .link {
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    padding-left: 28px;
    background-color: var(--wrapper-link-bg-color);
  }
  .nav_item {
    border: none;
    width: 100%;
    height: 40px;
  }
  .children_text {
    display: flex;
    align-items: center;
    color: var(--white-bg-color);
    font-size: 15px;
    width: 80px;
  }

  .children_svg svg {
    fill: var(--white-bg-color);
    width: 16px;
    height: 16px;
    margin-right: 21px;
  }

  .active_link {
    background-color: var(--active-link-bg-color);
    border-radius: 0;
  }

  .active_link .children_text {
    color: var(--white-bg-color);
  }
}
