.pageWrapper {
  position: relative;
  height: 86.1vh;
  background: url(../../../public/image/bg.png) bottom no-repeat;
  background-size: contain;
  width: 100vw;
}

.container {
  width: 310px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: auto;
  margin-right: auto;
}

.currencyWidget {
  height: 33.45vh;
  background-color: #3a5374;
  border-radius: 5px;
}
