:root {
  --main-bg-color: #eef0f4;
  --secondary-bg-color: #f3f6f6;
  --white-bg-color: #ffffff;

  --primary-font-color: #2c353e;
  --secondary-font-colo: #ffffff;
  --third-font-color: #6b7d83;
  --accent-font-color: #282828;

  --primary-green: #516d57;
  --active-green: #669668;
}
