@import './fonts/font.css';
@import './reset.css';
:root {
  --main-bg-color: #eef0f4;
  --secondary-bg-color: #f3f6f6;
  --grey-bg-color: #ededed;
  --main-mobile-bg-color: #3f5544;
  --white-bg-color: #ffffff;
  --input-bg-color: #f9fbfb;

  --primary-font-color: #2c353e;
  --secondary-font-colo: #ffffff;
  --third-font-color: #6b7d83;
  --main-green-font: #618d63;
  --accent-font-color: #282828;
  --alarm-color: #ff6c00;
  --good-font-color: #75c16e;
  --placeholder-input-color: #b9c9d4;
/* link color */
  --active-link-bg-color:#6fa76f;
  --wrapper-link-bg-color:#516d57;
  --active-link-media-bg-color:#669668;

  --gradient-color: linear-gradient(
    90deg,
    rgba(255, 197, 1, 1) 0%,
    rgba(255, 108, 0, 1) 54%,
    rgba(255, 108, 0, 1) 100%
  );

  --primary-green: #516d57;
  --active-green: #669668;
}

body {
  font-family: 'HelveticaNeueCyr', Arial, Helvetica, sans-serif;

  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
