@import "./fonts//font.css";

:root {
  --main-bg-color: #eef0f4;
  --secondary-bg-color: #f3f6f6;
  --white-bg-color: #ffffff;
  --input-bg-color: #f9fbfb;

  --primary-font-color: #2c353e;
  --secondary-font-colo: #ffffff;
  --third-font-color: #6b7d83;
  --accent-font-color: #282828;
  --alarm-color: #ff6c00;
  --good-font-color: #75c16e;
  --placeholder-input-color: #b9c9d4;
/* link color */
  --active-link-bg-color:#6fa76f;
  --wrapper-link-bg-color:#516d57;
  --active-link-media-bg-color:#669668;

  --gradient-color: linear-gradient(
    90deg,
    rgba(255, 197, 1, 1) 0%,
    rgba(255, 108, 0, 1) 54%,
    rgba(255, 108, 0, 1) 100%
  );

  --primary-green: #516d57;
  --active-green: #669668;
}

body {
  font-family: "HelveticaNeueCyr";
}
