.progressBar {
  width: 100%;
  height: 6px;
  border-radius: 6px;
  background-color: #dfe9df;
  display: flex;
  justify-content: flex-start;
}
.progressLine {
  height: 6px;
  border-radius: 6px;
  background-color: rgb(97, 147, 97);
  box-shadow: 0px 3px 3px 0px rgba(97, 147, 97, 0.2);
}
