.pageWrapper {
  position: relative;
  height: 100%;
}

.navBar {
  height: 7.21vh;
  margin-bottom: 3.52vh;
}

.balanceBar,
.transactionsList,
.addTransaction {
  width: 80%;
  min-width: 306px;
  margin: 0 auto;
}

.balanceBar {
  height: 16.2vh;
  margin-bottom: 3.52vh;
  background-color: #3a5374;
  border-radius: 5px;
}

.transactionsList {
  display: flex;
  flex-direction: column;
}

.transactionsListItem {
  height: 47.5vh;
  background-color: #3a5374;
  margin-bottom: 2.8vh;
}

.addTransaction {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px 8px;
  border: none;
  font-size: 35px;
  background-color: var(--white-bg-color);
  z-index: 2;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 325px;
  margin: 0 auto;
}

.buttonContainer > div {
  max-width: 151px;
}

.currencyWidget {
  display: none;
  border-radius: 5px;
  box-shadow: 10px 10px 26px -13px rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 768px) {
  .pageWrapper {
    min-height: 100vh;
    background: url(../../../public/image/bg-tablet.png) bottom no-repeat;
    background-size: contain;
    width: 100vw;
  }

  .navBar {
    height: 9.41vh;
    margin-bottom: 0;
  }

  .balanceBar {
    display: none;
  }

  .transactionsList,
  .addTransaction {
    width: 705px;
  }

  .addTransaction {
    position: static;
    transform: none;
    width: 100%;
    background-color: var(--primary-green);
  }

  .currencyWidget {
    position: fixed;
    display: block;
    width: 352px;
    height: auto;
    background-color: #3a5374;
    left: 33px;
    bottom: 10px;
  }
}

@media (min-width: 1024px) {
  .pageWrapper {
    background: none;
    margin: 0 auto;
    min-width: 1024px;
    width: 85%;
    padding: 0 5px;
    padding-top: 4.6vh;
    padding-bottom: 5.1vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 30px;
  }

  .navBar {
    width: 100%;
    margin-bottom: 0;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: stretch;
    height: auto;
  }

  .balanceBar {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    justify-self: stretch;
    grid-area: 2 / 1 / 3 / 2;
  }

  .currencyWidget {
    position: relative;
    grid-area: 3 / 1 / 6 / 2;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-self: stretch;
    height: auto;
  }

  .addTransaction {
    border-radius: 5px 5px 0 0;
  }

  .transactionsList {
    width: 100%;
    justify-self: stretch;
    border-radius: 5px;
    grid-area: 1 / 2 / 6 / 5;
    box-shadow: 0px 16px 16px -5px rgba(0, 0, 0, 0.75);
  }
}
