.pageWrapper {
  position: relative;
  height: 100%;
}

.navBar {
  height: 7.21vh;
  margin-bottom: 3.52vh;
}

.balanceBar,
.transactionsList,
.addTransaction {
  width: 306px;
  margin: 0 auto;
}

.balanceBar {
  height: 16.2vh;
  margin-bottom: 3.52vh;
  background-color: #3a5374;
  border-radius: 5px;
}

.transactionsList {
  display: flex;
  flex-direction: column;
}

.transactionsListItem {
  height: 47.5vh;
  background-color: #3a5374;
  margin-bottom: 2.8vh;
}

.addTransaction {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  height: 68px;
  border: none;
  font-size: 35px;
  background-color: var(--white-bg-color);
  z-index: 2;
}

.currencyWidget {
  display: none;
}

@media screen and (min-width: 768px) {
  .pageWrapper {
    min-height: 100vh;
    background: url(../../../public/image/bg-tablet.png) bottom no-repeat;
    background-size: contain;
    width: 100vw;
  }

  .navBar {
    height: 9.41vh;
    margin-bottom: 0;
  }

  .balanceBar {
    display: none;
  }

  .transactionsList,
  .addTransaction {
    width: 705px;
  }

  .addTransaction {
    margin: 0 auto;
    position: relative;
    transform: none;
    width: 100%;
    right: 0;
    height: 8.78vh;
    background-color: var(--primary-green);
  }

  .currencyWidget {
    position: fixed;
    display: block;
    width: 352px;
    height: 170px;
    background-color: #3a5374;
    left: 33px;
    bottom: 52px;
  }
}

@media (min-width: 1024px) {
  .pageWrapper {
    background: none;
    margin: 0 auto;
    width: 1024px;
    padding: 0 5px;
    padding-top: 4.6vh;
    padding-bottom: 5.1vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 30px;
  }

  .navBar {
    width: 100%;
    margin-bottom: 0;
    grid-area: 1 / 1 / 3 / 2;
    justify-self: stretch;
    height: auto;
  }

  .balanceBar {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    justify-self: stretch;
    grid-area: 3 / 1 / 4 / 2;
  }

  .currencyWidget {
    position: relative;
    grid-area: 4 / 1 / 7 / 2;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-self: stretch;
    height: auto;
  }

  .transactionsList {
    height: auto;
    width: 100%;
    justify-self: stretch;
    grid-area: 1 / 2 / 7 / 6;
    border-radius: 3px;
    box-shadow: 0px 16px 16px -5px rgba(0, 0, 0, 0.75);
  }
}

.currencyComponent {
  display: none;
}

@media screen and (min-width: 768px) {
  .pageWrapper {
    min-height: 100vh;
    background: url(../../../public/image/bg-tablet.png) bottom no-repeat;
    background-size: contain;
    width: 100vw;
  }

  .navBar {
    height: 9.41vh;
    margin-bottom: 0;
  }

  .balanceBar {
    display: none;
  }

  .transactionsList,
  .addTransaction {
    width: 705px;
  }

  .addTransaction {
    margin: 0 auto;
    position: relative;
    transform: none;
    width: 100%;
    right: 0;
    height: 8.78vh;
    background-color: var(--primary-green);
  }

  .currencyWidget {
    position: fixed;
    display: block;
    width: 352px;
    height: 170px;
    background-color: #3a5374;
    left: 33px;
    bottom: 52px;
  }
}

@media (min-width: 1024px) {
  .pageWrapper {
    background: none;
    width: 100%;
    height: 91.68vh;
    padding-top: 4.6vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 30px;
  }

  .balanceBar {
    display: block;
  }

  .navBar {
    width: 100%;
    margin-bottom: 0;
    grid-area: 1 / 1 / 3 / 2;
    height: auto;
  }
  .balanceBar {
    width: 100%;
    height: auto;
    margin: 0;
    grid-area: 3 / 1 / 4 / 2;
  }
  .currencyWidget {
    position: relative;
    grid-area: 4 / 1 / 8 / 2;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
  }
  .transactionsList {
    height: auto;
    width: 100%;
    grid-area: 1 / 2 / 8 / 4;
  }
}
