.wrapper_list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 8px 0;
  width: 320px;
  background-color: var(--wrapper-link-bg-color);
}

.active_link {
  background-color: var(--active-link-bg-color);
  border-radius: 5px;
}

.nav_item {
  background-color: #3f5544;
  display: flex;
  justify-content: center;
  align-content: center;
}

.link {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 30px;
  height: 25px;
}

.children_svg {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fff;
}

@media (max-width: 767px) {
  .nav_item:not(:last-child) {
    margin-right: 12px;
  }
  .nav_item {
    border-radius: 5px;
  }
  .link {
    width: 30px;
    height: 25px;
  }
}

@media (min-width: 768px) {
  .wrapper_list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 768px;
    height: 80px;
    background-color: #fff;
  }
  .nav_item {
    border-right: 1px #6b7d83 solid;
    background-color: #ffffff;
    height: 15px;
    margin: 0;
  }

  .link {
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-decoration: none;
    width: 100%;
    height: 15px;
    background-color: #fff;
  }

  .children_svg svg {
    width: 16px;
    height: 16px;
    fill: #6b7d83;
    padding-left: 10px;
  }

  .name_category {
    padding: 0 30px 0 10px;
    font-size: 15px;
    color: #6b7d83;
  }

  .active_link svg {
    fill: var(--active-link-bg-color);
    border-radius: 1px;
  }

  .active_link .name_category {
    color: var(--active-link-bg-color);
  }
}

@media (min-width: 1200px) {
  .wrapper_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 360px;
    height: 145px;
    background-color: var(--wrapper-link-bg-color);
  }

  .link {
    height: 40px;
    background-color: var(--wrapper-link-bg-color);
  }
  .nav_item {
    border: none;
    width: 100%;
    height: 40px;
  }
  .name_category {
    display: flex;
    align-items: center;
    color: var(--white-bg-color);
    font-size: 15px;
    width: 80px;
    height: 40px;
    padding: 0 50px 0 20px;
  }

  .children_svg svg {
    fill: var(--white-bg-color);
    width: 16px;
    height: 16px;
    padding-left: 20px;
  }

  .active_link {
    background-color: var(--active-link-bg-color);
  }

  /* .active_link svg {
    fill: var(--white-bg-color);
  } */

  .active_link .name_category {
    color: var(--white-bg-color);
  }
}

/* .wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 300px;
  height: 80px;
  padding: 35px 0 35px 0;
  background-color: var(--wrapper-link-bg-color);
  border-radius: 5px;
}

.active_link {
  background-color: var(--active-link-bg-color);
}

.link {
  font-size: 15px;
  height: 40px;
  color: var(--white-bg-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 60px;
  background-repeat: no-repeat;
}

.image_home {
  background-image: url(../../public/icons/home.svg);
  background-position: 30px 12px;
}

.image_diagrams {
  background-image: url(../../public/icons/Diagrams.svg);
  background-position: 30px 17px;
}

.image_currency {
  background-image: url(../../public/icons/currency.svg);
  background-position: 30px 17px;
}

@media (min-width: 319px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 1px;
    margin: 0 auto;
    width: 320px;
    height: 40px;
    padding: 0px;
  }
  .children {
    display: none;
  }

  .nav_Link {
    margin: 12px;
    padding: 0;
    width: 30px;
    height: 25px;
  }

  .link {
    background-color: #3f5544;
    border-radius: 6px;
    width: 30px;
    height: 25px;
    padding: 0;
  }

  .active_link {
    background-color: var(--active-link-media-bg-color);
  }

  .image_home {
    background-image: url(../../public/icons/home.svg);
    background-position: center;
  }

  .image_diagrams {
    background-image: url(../../public/icons/Diagrams.svg);
    background-position: center;
  }

  .image_currency {
    background-image: url(../../public/icons/currency.svg);
    background-position: center;
  }
}

@media (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 768px;
    height: 80px;
    margin: 0 auto;
    padding: 0;
  }

  .link {
    color: #fff;
    border-radius: 6px;
    width: 100px;
    height: 20px;
    padding: 0;
  }

  .children {
    display: block;
  }

  .nav_Link {
    margin: 60px;
  }

  .image_home {
    background-image: url(../../public/icons/home.svg);
    background-position: 6px center;
  }

  .image_diagrams {
    background-image: url(../../public/icons/Diagrams.svg);
    background-position: 6px center;
  }

  .image_currency {
    display: none;
  }

  .children {
    padding-left: 31px;
  }
} */
